public/assets

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.output
.wxt
build
screenshots

# publish-browser-extension credentials
.env.submit
.env.submit.backup-*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
