name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Node.js latest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: 'pnpm'
      - name: test
        run: |
          pnpm install
          pnpm test
        env:
          CI: true
